<footer class="main_footer">
        <section class="content">
            <div class="center_logo__logo_wrap">
                <a href="#">
                    <img src="./img/logo.png" alt="">
                </a>
            </div>
            <h3 class="section_title">Contáctanos</h3>
            <section class="contact">
                <article class="contact__column info_contact left">
                    <section class="info_contact__item">
                        <article class="info_contact__item__text">
                            <p class="info_contact__item__text__title">Llámanos</p>
                            <p class="info_contact__item__text__num">300 789 3493</p>
                        </article>
                        <article class="info_contact__item__icon">
                            <img src="./icons/phone.png" alt="">
                        </article>
                    </section>
                    <section class="info_contact__item">
                        <article class="info_contact__item__text">
                            <p class="info_contact__item__text__title">Visítanos</p>
                            <p class="info_contact__item__text__num">Carrera 47 Sur N° 8C-94 | Cons 304</p>
                        </article>
                        <article class="info_contact__item__icon">
                            <img src="./icons/map-marker.png" alt="">
                        </article>
                    </section>
                    <section class="info_contact__item">
                        <article class="info_contact__item__text">
                            <p class="info_contact__item__text__title">Escríbenos</p>
                            <p class="info_contact__item__text__num">tayle.arv@gmail.com</p>
                        </article>
                        <article class="info_contact__item__icon">
                            <img src="./icons/write-email-envelope-button.png" alt="">
                        </article>
                    </section>
                </article>
                <article class="contact__column info_contact right">
                    <section class="info_contact__item">
                        <article class="info_contact__item__icon">
                            <img src="./icons/045-facebook.png" alt="">
                        </article>
                        <article class="info_contact__item__text">
                            <p class="info_contact__item__text__title">Facebook</p>
                            <p class="info_contact__item__text__num">www.facebook.com/tayle.arv</p>
                        </article>
                    </section>
                    <section class="info_contact__item">
                        <article class="info_contact__item__icon">
                            <img src="./icons/034-instagram.png" alt="">
                        </article>
                        <article class="info_contact__item__text">
                            <p class="info_contact__item__text__title">Instagram</p>
                            <p class="info_contact__item__text__num">www.instagram.com/tayle.arv</p>
                        </article>
                    </section>
                </article>
            </section>
        </section>

        <section class="bottom_bar">
            <section class="content">
                <div class="bottom_bar">
                    <ul class="bottom_bar__nav_footer">
                        <a href="#">
                            <li class="bottom_bar__nav_footer__link">UBICACIÓN</li>
                        </a>
                        <a href="#">
                            <li class="bottom_bar__nav_footer__link">CONTÁCTANOS</li>
                        </a>
                        <a href="#">
                            <li class="bottom_bar__nav_footer__link">NUESTROS SERVIVCIOS</li>
                        </a>
                        <a href="#">
                            <li class="bottom_bar__nav_footer__link">VOLVER ARRIBA
                                <i class="fas fa-angle-up"></i>
                            </li>
                        </a>
                    </ul>
                </div>
            </section>
        </section>
    </footer>