 <header class="page_header">
        <section class="top_bar">
            <section class="content">
                <div class="top_bar__left_side">
                    <ul class="top_bar__contact">
                        <li>
                            <i class="fas fa-phone"></i>+57 300 789 3493</li>
                        <li>
                            <i class="fas fa-envelope"></i>tayle.arv@gmail.com</li>
                        <li>
                            <i class="far fa-clock"></i>Lun - Sáb 7am - 5pm</li>
                    </ul>
                </div>
                <div class="top_bar__right_side">
                    <button>Agenda tu cita</button>
                    <ul class="top_bar__social_media">
                        <li>
                            <i class="fab fa-facebook-square"></i>
                        </li>
                        <li>
                            <i class="fab fa-instagram"></i>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        <section class="main_header">
            <div class="center_logo__logo_wrap">
                <a href="#">
                    <img src="/img/logo.png" alt="">
                </a>
            </div>
            <nav>
                <ul class="main_header__nav">
                    <li class="main_header__nav__menu_item active">
                        <a href="/">Home</a>
                    </li>
                    <li class="main_header__nav__menu_item">
                        <a href="#">Nuestra Empresa</a>
                    </li>
                    <li class="main_header__nav__menu_item">
                        <a href="#">Servicios</a>
                    </li>
                    <li class="main_header__nav__menu_item">
                        <a href="/optics">Óptica</a>
                    </li>
                    <li class="main_header__nav__menu_item">
                        <a href="#">Blog</a>
                    </li>
                    <li class="main_header__nav__menu_item">
                        <a href="#">contact</a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>