<!DOCTYPE html>
<html lang="es">

<head>
{{>head}}
</head>

<body>
   <div class="wrapper">
       {{>header}}
   </div>

    <section class="main_slider">
        <div class="main_slider__banner">
            <section class="content">
                <div class="caption">
                    <h1 class="caption__title">Impecable Servicio Humano</h1>
                    <h4 class="caption__subtitle">Servicio Óptico Especializado</h4>
                    <button class="caption__button invert_button">Agenda tu Exámen</button>
                </div>
            </section>
        </div>
    </section>
    
    <section class="services">
        <h2 class="services__title section_title">Servicio de Optometría Especializado</h2>
        <p class="services__description">Tratamos a nuestros pacientes con el mayor cuidado, y honestidad, hacemos seguimiento individual ofrecemos gafas
            para cada estilo y disponemos la última tecnología en lentes de contacto.</p>
        <div class="services__wrap"></div>
    </section>

    <section class="interaction">
        <div class="interaction__background"></div>
        <section class="content">
            <div class="caption">
                <h2 class="section_title">Agudeza Visual</h2>
                <p class="section_description">Una visión de 20/20 se considera normal y significa que puede leer a 20 pies una letra que la mayoría de
                    las personas debe leer a 20 pies.
                </p>
            </div>
        </section>
        <div class="range-slider">
            <input id="myRange" class="range-slider__range" type="range" value="200" min="20" max="200" step="10">
            <span id="demo" class="range-slider__value">0</span>
        </div>
    </section>

    <section class="mission">
        <section class="content">
            <div class="caption">
                <h2 class="section_title dark_background">Nuestra Misión</h2>
                <p class="section_description dark_background">Somos una entidad con una filosofía orientada a la Prevención, Diagnóstico y Tratamiento de las enfermedades
                    del sistema visual, a través de la enseñanza, la investigación y la prestación de servicios de salud
                    de alta calidad. Innovamos e Incorporamos tecnologías para obtener tratamientos efectivos y mejores resultados
                    encaminados a la calidad de vida de los pacientes.</p>
            </div>
        </section>
    </section>

    <section class="date">
        <section class="content">
            <div class="caption">
                <h2 class="section_title dark_background">Agenda tu cita de Control Online</h2>
                <button>Pide tu cita</button>
            </div>
        </section>
    </section>

    <section class="features">
        <div class="features__wrap">
            <div class="features__wrap__item">
                <img src="./icons/calendar.png" alt="" class="features__wrap__item__image">
                <h4 class="features__wrap__item__title">Lunes a Sábado</h4>
                <p class="features__wrap__item__description">8 AM - 6 PM</p>
            </div>

            <div class="features__wrap__item">
                <img src="./icons/time.png" alt="" class="features__wrap__item__image">
                <h4 class="features__wrap__item__title">Servicio Inmediato</h4>
                <p class="features__wrap__item__description">Lentes a tu medida</p>
            </div>

            <div class="features__wrap__item">
                <img src="./icons/group-profile-users.png" alt="" class="features__wrap__item__image">
                <h4 class="features__wrap__item__title">Profesionales Expertos</h4>
                <p class="features__wrap__item__description">Calidad Humana a tu servicio</p>
            </div>

            <div class="features__wrap__item">
                <img src="./icons/shield.png" alt="" class="features__wrap__item__image">
                <h4 class="features__wrap__item__title">Seguro de Salud</h4>
                <p class="features__wrap__item__description">Pacientes Satisfechos</p>
            </div>

            <div class="features__wrap__item">
                <img src="./icons/open-wrench-tool-silhouette.png" alt="" class="features__wrap__item__image">
                <h4 class="features__wrap__item__title">Ajustes y Reparaciones</h4>
                <p class="features__wrap__item__description">Servicio de Ajustes Gratis</p>
            </div>

            <div class="features__wrap__item">
                <img src="./icons/certificate-shape.png" alt="" class="features__wrap__item__image">
                <h4 class="features__wrap__item__title">Calidad Garantizada</h4>
                <p class="features__wrap__item__description">Productos de alta calidad</p>
            </div>
        </div>

    </section>

    <section class="team">
        <h2 class="team__title section_title">Conócenos</h2>
        <p class="team__description">Tratamos a nuestros pacientes con el mayor cuidado, y honestidad, hacemos seguimiento individual ofrecemos gafas
            para cada estilo y disponemos la última tecnología en lentes de contact.</p>
        <div class="team__wrap">
            <div class="team__wrap__item">
                <div class="team__wrap__item__image luz_elena"></div>
                <h3 class="team__wrap__item__title">Luz Elena Arce</h3>
                <p class="team__wrap__item__subtitle">Ortóptica y Lentes de contacto</p>
                <p class="team__wrap__item__description">Optómetra de 30 años de experiencia especialista en entrenamiento visual y tratamientos para niños.
                </p>
                <a class="team__wrap__item__mail" href="#">
                    <i class="fas fa-envelope"></i> luz.arce@tayle.com</a>
            </div>

            <div class="team__wrap__item">
                <div class="team__wrap__item__image tomas_a"></div>
                <h3 class="team__wrap__item__title">Tomás A. Rosas</h3>
                <p class="team__wrap__item__subtitle">Especialista en lentes de contacto</p>
                <p class="team__wrap__item__description">Profesional de 30 años de experiencia, especialista en salud ocupacional y adaptación de lentes de contacto.
                </p>
                <a class="team__wrap__item__mail" href="#">
                    <i class="fas fa-envelope"></i> tomas.rosas@tayle.com</a>
            </div>
        </div>
    </section>

    <section class="shop">
        <h2 class="shop__title section_title">Nuestra Óptica</h2>
        <p class="shop__description">Sabemos que tu estilo es único y tus gafas también lo serán.</p>
        <div class="shop__wrap">
            <div class="shop__wrap__item">
                <div class="shop__wrap__item__image">
                    <img src="./img/gallery4.jpg" alt="">
                </div>
                <h3 class="shop__wrap__item__title">Smart - Coleción 2018</h3>
            </div>
            <div class="shop__wrap__item">
                <div class="shop__wrap__item__image ">
                    <img src="./img/gallery1.jpg" alt="">
                </div>
                <h3 class="shop__wrap__item__title">La vida en Colores</h3>
            </div>
            <div class="shop__wrap__item">
                <div class="shop__wrap__item__image">
                    <img src="./img/gallery3.jpg" alt="">
                </div>
                <h3 class="shop__wrap__item__title">Tu estilo, tus Gafas</h3>
            </div>

            <div class="shop__wrap__item">
                <div class="shop__wrap__item__image">
                    <img src="./img/gallery2.jpg" alt="">
                </div>
                <h3 class="shop__wrap__item__title">Para cada Ocasión</h3>
            </div>
        </div>
        <a href="/optica"><button class="complete_gallery invert_button">Galería Completa</button></a>
    </section>

    <section class="especificatios">
        <div class="content">
            <div class="especificatios__wrap">
                <section class="especificatios__wrap__item">
                    <h2 class="especificatios__title section_title">Cifras Mensuales</h2>
                    <p class="especificatios__description">
                        Nos complace tener la satisfacción de poder solucionar los problemas visuales de todos aquellos que confian en nuestros servicios. Cada mes nos dedicamos a examinar pacientes clínicos y empresariales. Adémas realizamos adaptaciones de lentes de contacto satisfaciendo a todos nuestros pacientes.
                    </p>
                    <section class="especificatios__description__statistics">
                        <article class="especificatios__description__statistics__item">
                            <div class="especificatios__wrap__item__image">
                                <img src="./icons/hospital.svg" alt="">
                                <h3 class="especificatios__wrap__item__image__num">250</h3>
                            </div>
                            <h4 class="especificatios__wrap__item__title">Exámenes de Optometría Clínica</h4>
                        </article>
                        <article class="especificatios__description__statistics__item">
                            <div class="especificatios__wrap__item__image">
                                <img src="./icons/optometrist-woman.svg" alt="">
                                <h3 class="especificatios__wrap__item__image__num">450</h3>
                            </div>
                            <h4 class="especificatios__wrap__item__title">Exámenes de Optometría Ocupacional</h4>
                        </article>
                        <article class="especificatios__description__statistics__item">
                            <div class="especificatios__wrap__item__image">
                                <img src="./icons/contact-lenses.svg" alt="">
                                <h3 class="especificatios__wrap__item__image__num">20</h3>
                            </div>
                            <h4 class="especificatios__wrap__item__title">Adaptaciones de lentes de contact</h4>
                        </article>
                    </section>
                </section>
                <section class="especificatios__wrap__item tabs">
                    <h2 class="especificatios__title section_title">Por qué elegirnos</h2>
                    <div class="tabs__buttons">
                        <button class="tabs__buttons__link">Exámen Visual</button>
                        <button class="tabs__buttons__link">Salud Visual</button>
                        <button class="tabs__buttons__link">Rehabilitación Visual</button>
                    </div>
                    <article class="visual_exam service_area">
                        <p>Durante este exámen, se medirá como se desempeña su visión de lejos en comparación con la mayoría
                            de personas. Revisiones periódicas de la visión nos permitirán actuar a tiempo y prevenir alteraciones
                            en el sistema visual, el cual va evoluciona a lo largo de nuestra vida y se ve afectado,entre
                            otros factores, por nuestros hábitos diarios.</p>
                        <ul class="service_area__details_list">
                            <li class="service_area__details_list__item">Revisión del fondo de ojo</li>
                            <li class="service_area__details_list__item">Tonometría</li>
                            <li class="service_area__details_list__item">Examen del campo visual</li>
                            <li class="service_area__details_list__item">Examen de la agudeza visual</li>
                        </ul>
                    </article>
                    <article class="visual_health service_area" style="display: none;">
                        <p>Algunos consejos para el cuidado de tus ojos, importantísimo para una buena calidad de vida. Cuidado, protección y mantenimiento correcto de los ojos.</p>
                        <ul class="service_area__details_list">
                            <li class="service_area__details_list__item">Revisiones de Vista</li>
                            <li class="service_area__details_list__item">Conocer Historial Familiar</li>
                            <li class="service_area__details_list__item">Hábitos de vida Saludable</li>
                            <li class="service_area__details_list__item">Ajuste Digital</li>
                            <li class="service_area__details_list__item">Protección UV</li>
                            <li class="service_area__details_list__item">Prevención de lesiones</li>
                        </ul>
                    </article>
                    <article class="visual_rehab service_area" style="display: none;">
                        <p>La terapia visual es una técnica optométrica basada en ejercicios visuales con la finalidad de solucionar las diferentes disfunciones susceptibles de mejora. Estas técnicas están encaminadas a optimizar las distintas habilidades visuales.</p>
                        <ul class="service_area__details_list">
                            <li class="service_area__details_list__item">Control de la miopía</li>
                            <li class="service_area__details_list__item">Exámenes de Ortóptica</li>
                            <li class="service_area__details_list__item">Estimulación Visual</li>
                            <li class="service_area__details_list__item">Contactólogia</li>
                            <li class="service_area__details_list__item">Entrenamiento Visual</li>
                            <li class="service_area__details_list__item">Ayudas Ópticas no Convencionales</li>
                            <li class="service_area__details_list__item">Optómetria Deportiva</li>
                        </ul>
                    </article>
                </section>
            </div>
        </div>
    </section>

    <div class="wrapper">
        {{>footer}}
    </div>

    <script src="./script.js"></script>

</body>

</html>