<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <link rel="stylesheet" href="./optics_style.css">
</head>

<body>
    <div class="wrapper">
        {{>header}}
    </div>

    <div class="breadsrumbs">

    </div>

    <div class="optics_products">
        <div class="content">
        <aside class="filter_column">
            <div class="filters">
                <div class="filters_heading">Filtros</div>
                <div class="filterbox">
                    <div class="list-group">
                        <div class="list-group-items">
                            <a class="list-group-item">Color</a>

                            <div class="list-group-item">
                                <div id="filter-group2">
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="8">
                                            Negro
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="5">
                                            Dorado
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="6">
                                            Rojo
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="7">
                                            Plateado
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-items">
                            <a class="list-group-item">Precio</a>

                            <div class="list-group-item">
                                <div id="filter-group1">
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="2">
                                            $50.000-$99.000
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="4">
                                            $100.000-$149.000
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="1">
                                            $150.000-$299.000
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="3">
                                            $300.000-$500.000
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-items">
                            <a class="list-group-item">Talla</a>

                            <div class="list-group-item">
                                <div id="filter-group3">
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="9">
                                            L
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="10">
                                            M
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label> <input type="checkbox" name="filter[]" value="11">
                                            S
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" id="button-filter" class="btn btn-primary">Refine Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <div class="optics_products__content">
            <div class="order_bar">
                <div class="order_bar__sort_by_wrapper">
                    <div class="sort_by_wrapper__label">
                        <label class="control_label">Ordenar por:</label>
                    </div>
                    <div class="sort_by_wrapper__input">
                        <select id="input-sort" class="form-control hasCustomSelect"
                            style="-webkit-appearance: menulist-button; width: 180px; position: absolute; opacity: 0; height: 28px; font-size: 14px;">

                            <option selected="selected">Nombre (A - Z) </option>

                            <option>Nombre (Z - A) </option>

                            <option>Precio (M치s bajo > M치s alto) </option>

                            <option>Precio (M치s alto > M치s bajo) </option>

                        </select>

                        <span class="customSelect form-control" style="display: inline-block;">
                            <span class="customSelectInner" style="width: 164px; display: inline-block;">Defecto</span>
                        </span>

                    </div>
                </div>
            </div>

            <div class="products_list">
                {{#each productos}}
                <div class="product_box">
                    <div class="product_box__image">
                        <a href="#">
                            <img src="{{this.img_a}}" alt="">
                        </a>
                    </div>
                    <div class="product_box__caption">
                        <p>
                            <span class="price">{{this.price}}</span>
                        </p>
                        <h4 class="glass_reference"><a href="#">{{this.name}}</a></h4>
                        <div class="btn-add-to-cart">
                            <button type="button" title="Add to cart" class="addtocart">Add to Cart</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        </div>
    </div>

    <div class="wrapper">
        {{>footer}}
    </div>
</body>

</html>