.optics_products {
  background: #fff;
  padding: 40px 0;
}

.optics_products .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.optics_products .content .filter_column {
  width: 20%;
  padding-right: 2%;
}

.optics_products .content .filter_column .filters_heading {
  background: #00c7d3;
  font-size: 16px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  color: #fff;
  letter-spacing: 1.36px;
}

.optics_products .content .filter_column .filterbox {
  font-size: 14px;
  background: #f7f7f7;
}

.optics_products .content .filter_column .filterbox .list-group-items {
  padding: 15px;
}

.optics_products .content .filter_column .filterbox .list-group-items .checkbox {
  padding: 4px;
}

.optics_products .content .filter_column .filterbox .box-footer {
  text-align: right;
}

.optics_products .content .optics_products__content {
  width: 80%;
}

.optics_products .content .optics_products__content .order_bar {
  background: #f7f7f7;
  padding: 12px 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
}

.optics_products .content .optics_products__content .order_bar .order_bar__sort_by_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.optics_products .content .optics_products__content .order_bar .order_bar__sort_by_wrapper .form-control {
  background: #fff;
  margin: 0 10px;
  padding: 5px 10px;
  -webkit-appearance: menulist-button;
}

.optics_products .content .optics_products__content .order_bar .order_bar__sort_by_wrapper .sort_by_wrapper__label {
  padding: 5px 0;
}

.optics_products .content .optics_products__content .products_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.optics_products .content .optics_products__content .products_list .product_box {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  text-align: center;
  width: 260px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
}

.optics_products .content .optics_products__content .products_list .product_box .product_box__image {
  position: relative;
}

.optics_products .content .optics_products__content .products_list .product_box .product_box__image img:last-child {
  position: absolute;
  left: 10%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.optics_products .content .optics_products__content .products_list .product_box .product_box__image img:last-child:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.optics_products .content .optics_products__content .products_list .product_box:hover {
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.optics_products .content .optics_products__content .products_list .product_box:hover button {
  background: #00c7d3;
  color: #fff;
}

.optics_products .content .optics_products__content .products_list .product_box img {
  width: 80%;
}

.optics_products .content .optics_products__content .products_list .product_box .product_box__caption * {
  margin: 6px 0;
}

.optics_products .content .optics_products__content .products_list .product_box .glass_reference {
  font-size: 14px;
}

.optics_products .content .optics_products__content .products_list .product_box .glass_reference a {
  color: #4d4d4d !important;
}

.optics_products .content .optics_products__content .products_list .product_box .price {
  color: #00c7d3;
  font-weight: 900;
  letter-spacing: 1px;
}

.optics_products .content .optics_products__content .products_list .product_box .price:before {
  content: "$";
}
/*# sourceMappingURL=optics_style.css.map */